button, input, select, textarea {
  @extend %rounded-corners;
  background: #eee;
  border: 1px solid #cdcdcd;
  font-family: monospace;
  font-size: 10pt;
  padding: 3px;
}

button[type="submit"], input[type="submit"] {
  padding: 5px;
  margin: 5px 5px 5px 0;
  font-family: verdana, arial, helvetica, sans-serif;
}

textarea, input[type="text"], div.tagsinput {
  max-width: 600px;
  width: 100%;
}

div.tagsinput {
  @extend %rounded-corners;
  background: #eee;
  border: 1px solid #cdcdcd;
  padding: 3px;
  div {
    display: inline-block;
  }
  .not_valid {
    background: #FBD8DB !important;
    color: #90111A !important;
  }
}

textarea {
  height: 60px;
}

.fieldlabel {
  margin-bottom: 3px;
}
