#header {
  background-color: #cce7fb;
  padding: 0;
  display: table;
  width: 100%;
  > div {
    display: table-cell;
    span {
      display: inline-block;
      margin: 5px;
      font-size: 12pt;
      a {
        color: black;
      }
    }
  }
  #left span {
    margin-left: 10px;
  }
  #right {
    text-align: right;
    span { margin-right: 10px; }
  }
  form input {
    margin: 0;
    background: #fff;
  }
}

#subheader {
  background-color: #eee;
  font-size: 12pt;
  a {
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    &.active { background-color: #ccc; }
  }
}

#footer {
  @extend %centered;
}

#container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

#sidebar {
  display: table-cell;
  width: 300px;
  background-color: #eff6fb;
  box-sizing: border-box;
  vertical-align: top;
  div {
    padding: 5px;
  }
}

#content {
  display: table-cell;
  > div {
    margin-top: 5px;
  }
}
