#header {
  background-color: #cce7fb;
  padding: 0;
  display: table;
  width: 100%;
  > div {
    display: table-cell;
    span {
      display: inline-block;
      margin: 5px;
      font-size: 12pt;
      a {
        color: black;
      }
    }
  }
  #left span {
    margin-left: 10px;
  }
  #right {
    text-align: right;
    span { margin-right: 10px; }
  }
  form input {
    margin: 0;
    background: #fff;
  }
}

#footer {
  @extend %centered;
}

#sidebar {
  display: inline-block;
  width: 300px;
  background-color: #eff6fb;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  div:not(:last-child) {
    margin-bottom: 5px;
  }
}

.content-right {
  display: inline-block;
}
