@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  > * {
    padding-left: 10px;
    padding-right: 10px;
  }
}

div {
  margin-bottom: 10pt;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 5pt;
}

a {
  text-decoration: none;
}

#header {
  background-color: #e6e6e6;
  border-bottom: 1px solid #ddd;
  span {
    display: inline-block;
    margin: 10px 10px 10px 0;
    font-size: 15pt;
    a {
      color: black;
    }
  }
}

#footer, #image-container, #image-tags, #image-source {
  text-align: center;
}

#image-container img {
  max-width: 100%;
  height: auto;
}

button, input, select, textarea {
  background: #eee;
  border: 1px solid #cdcdcd;
  font-family: monospace;
  font-size: 10pt;
  padding: 3px;
  border-radius: 3px;
}

button[type="submit"], input[type="submit"] {
  padding: 5px;
  margin: 5px 5px 5px 0;
  font-family: verdana, arial, helvetica, sans-serif;
}

textarea, input[type="text"] {
  max-width: 600px;
  width: 100%;
}

textarea {
  height: 60px;
}

.tag {
  display: inline-block;
  background: #cde69a;
  border: 1px solid #9ecf3c;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 4px;
  margin-right: 2px;
  a {
    color: darken(#9ecf3c, 20%);
  }
}
